<div class="row">
    <div class="col-xs-5">
        <input type="text" placeholder="filter" ng-model="dataFilter" class="form-control" />
        <select multiple class="form-control original-data">
            <option ng-repeat="item in data | orderBy: 'name' | filter: dataFilter" value="{{ item.id }}">
                {{ item.name }}
            </option>
        </select>
    </div>
    <div class="col-xs-1 text-center">
        <button class="btn btn-default" ng-click="removeItems()">&lt;</button>
        <button class="btn btn-default" ng-click="addItems()">&gt;</button>
    </div>
    <div class="col-xs-5">
        <select multiple class="form-control selected-data">
            <option ng-repeat="item in selectedData | orderBy: 'name'" value="{{ item.id }}">{{ item.name }}</option>
        </select>
    </div>
</div>